/** Footer **/
.footer {
  /* padding: 100px 40px 20px; */
  padding: 0;
  padding-bottom: 40px;
  margin-top: 40px;
  overflow: hidden;
  background: #1d1a30;
  background: #f0c;
  background: linear-gradient(to right, #339, #f0c);
}

.footer p,
.footer__phone-contac {
  margin: 0;
  margin-top: 3px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__phone-contac {
  position: relative;
  top: 10px;
  font-size: 18px;
  text-decoration: none;
}

.footer__menu {
  position: relative;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  padding: 20px 10%;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
  font-size: 16.8px;
  line-height: 1.7em;
  color: #fff;
  text-align: left;
  text-transform: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
}

.footer .waves {
  transform: rotate(180deg);
}

/*
@media screen and (min-width: 480px) {
    footer {
        padding: 20px 40px;
    }
}
*/

.footer__logo::after {
  position: absolute;
  top: -100px;
  right: 10%;
  width: 80px;
  height: 100%;
  margin: 0;
  content: "";
}

/* .footer__menu {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-items: stretch;
  justify-content: center;
  justify-content: space-between;
  margin: 40px auto;
  font-family: "Roboto", sans-serif;
  font-size: 16.8px;
  line-height: 1.7em;
  color: #fff;
  text-align: left;
  box-pack: center;
  box-align: stretch;
  box-orient: horizontal;
  box-direction: normal;
} */

.footer__menu div {
  width: 100%;
  margin: 0 15px;
}

.footer__menu p {
  margin: 0 0 25px;
}

.footer__menu div ol {
  margin: 0 45px;
}

.footer__menu h3 {
  padding-bottom: 20px;
  text-transform: uppercase;
}

.footer__menu ul {
  padding-left: 10px;
}

.footer__menu li {
  list-style: none;
}

.footer__menu li a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed #fff;
}

.footer__menu li a:hover {
  text-shadow: 0 0 10px azure, 0 0 20px cyan, 0 0 40px #1e90ff, 0 0 80px blue;
}

@media screen and (min-width: 480px) {
  .footer__logo::after {
    top: 20px;
  }
}

@media screen and (min-width: 800px) {
  .footer__menu {
    flex-wrap: nowrap;
  }

  .footer__menu div {
    width: calc((100% - 50px) / 3);
    margin: 0 25px;
  }

  .footer__menu div ol {
    margin: 0 5px;
  }

  .main-content section:not(:first-child) {
    padding: 0 45px;
  }
}
