html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

html.visible,
html.visible body {
  overflow-x: visible;
}

.text-center {
  text-align: center !important;
}

@media (min-width: 1200px) .container {
  max-width: 1140px;
}

@media (min-width: 992px) .container {
  max-width: 960px;
}

@media (min-width: 768px) .container {
  max-width: 720px;
}

@media (min-width: 576px) .container {
  max-width: 540px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron {
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 100vh;
}

@media (max-width: 767px) and (orientation: landscape) {
  .jumbotron {
    min-height: 500px;
  }
}

.jumbotron .container {
  position: relative;
  z-index: 1;
}

.jumbotron:before {
  position: absolute;
  display: block;
  content: '';
  opacity: 0.8;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #55579b;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#333399),
    to(#55579b)
  );
  background: linear-gradient(to right, #333399, #55579b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.jumbotron h1 {
  line-height: 1.2;
  font-weight: bold;
  padding: 30px;
  padding-left: 30%;
  font-size: 2rem;
  opacity: 0;
  -webkit-animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s
    forwards;
  animation: 1s fadeInFromTop cubic-bezier(0.785, 0.135, 0.15, 0.86) 1s forwards;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;

  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  letter-spacing: 2.8px;
}

.text-white {
  color: #fff;
}

/*
.sun::before,
.moon::before,
.mercury::before,
.venus::before,
.mars::before,
.jupiter::before,
.saturn::before,
.uranus::before,
.neptune::before,
.pluto::before {
    font-family: "astrostyle";
    speak: none;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    z-index: 100000;
}

.sun::before,
.mercury::before,
.mars::before,
.saturn::before,
.neptune::before {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

.moon::before,
.venus::before,
.jupiter::before,
.uranus::before,
.pluto::before {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}


.sun::before {
    content: "Q";
    font-size: 56px;
    left: 5%;
    top: 50%;
}

.moon::before {
    content: "W";
    font-size: 56px;
    left: 10%;
    top: 50%;
}

.mercury::before {
    content: "E";
    font-size: 56px;
    left: 15%;
    top: 50%;
}

.venus::before {
    content: "R";
    font-size: 56px;
    left: 20%;
    top: 50%;
}

.mars::before {
    content: "T";
    font-size: 56px;
    left: 25%;
    top: 50%;
}

.jupiter::before {
    content: "Y";
    font-size: 56px;
    left: 30%;
    top: 50%;
}

.saturn::before {
    content: "U";
    font-size: 56px;
    left: 35%;
    top: 50%;
}

.uranus::before {
    content: "I";
    font-size: 56px;
    left: 40%;
    top: 50%;
}

.neptune::before {
    content: "O";
    font-size: 56px;
    left: 45%;
    top: 50%;
}

.pluto::before {
    content: "P";
    font-size: 56px;
    left: 50%;
    top: 50%;
}
*/
/*
.sun,
.mercury,
.mars,
.uranus,
.neptune {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    z-index: 100;
}

.moon,
.venus,
.jupiter,
.saturn,
.pluto {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    z-index: 100;
}

.jupiter, .saturn, .uranus, .sun {
  width: 60px;
  height: 60px;

}

.moon, .mercury, .venus, .pluto  {
  width: 40px;
  height: 40px;
}

.box-sun,
.box-moon,
.box-mercury,
.box-venus,
.box-mars,
.box-jupiter,
.box-saturn,
.box-uranus,
.box-neptune,
.box-pluto {
position: absolute;
-webkit-transform-origin: center;
transform-origin: center;
width: 100px;
height: 100px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
           z-index: 100;
}

.box-sun {
    top: 82%;
    left: 10%;
}

.box-moon {
  top: 78%;
  right: 10%;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.box-mercury {
    top: 10%;
    left: 83%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

.box-venus{
    top: 30%;
    left: 20%;
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
}

.box-mars {
    left: 25%;
    top: 50%;
}

.box-jupiter {
    top: 10%;
    right: 45%;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
}

.box-saturn {
  left: 5%;
  top: 40%;
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
}

.box-uranus {
    left: 42%;
    top: 25%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.box-neptune {
    left: 10%;
    top: 60%;
        -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
}

.box-pluto {
    left: 30%;
    top: 70%;
        -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
}
*/
/*=======================*/

/*=========================================*/
/*
.aries::before,
.taurus::before,
.gemini::before,
.cancer::before,
.leo::before,
.virgo::before,
.libra::before,
.scorpio::before,
.sagittarius::before,
.capricorn::before,
.aquarius::before,
.pisces::before {
    font-family: "astrostyle";
    speak: none;
    color: rgba(255, 255, 255, 0.8);
    position: absolute;
    z-index: 100000;
}

.aries::before,
.gemini::before,
.leo::before,
.libra::before,
.sagittarius::before,
.aquarius::before {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}


.taurus::before,
.cancer::before,
.virgo::before,
.scorpio::before,
.capricorn::before,
.pisces::before {
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}

.aries::before {
    content: "a";
    font-size: 56px;
    left: 5%;
    top: 50%;
}
.taurus::before {
    content: "s";
    font-size: 56px;
    left: 10%;
    top: 50%;
}
.gemini::before {
    content: "d";
    font-size: 56px;
    left: 15%;
    top: 50%;
}
.cancer::before {
    content: "f";
    font-size: 56px;
    left: 20%;
    top: 50%;
}
.leo::before {
    content: "g";
    font-size: 56px;
    left: 25%;
    top: 50%;
}
.virgo::before {
    content: "h";
    font-size: 56px;
    left: 30%;
    top: 50%;
}
.libra::before {
    content: "j";
    font-size: 56px;
    left: 5%;
    top: 60%;
}
.scorpio::before {
    content: "k";
    font-size: 56px;
    left: 10%;
    top: 60%;
}
.sagittarius::before {
    content: "l";
    font-size: 56px;
    left: 15%;
    top: 60%;
}
.capricorn::before {
    content: "v";
    font-size: 56px;
    left: 20%;
    top: 60%;
}
.aquarius::before {
    content: "x";
    font-size: 56px;
    left: 25%;
    top: 60%;
}
.pisces::before {
    content: "c";
    font-size: 56px;
    left: 30%;
    top: 60%;
}
*/
/*=========================================*/

.rectangle-1 {
  width: 2000px;
  height: 400px;
  background: #8e2de2;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4a00e0),
    to(#8e2de2)
  );
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  -webkit-transform-origin: 50% 150% 0;
  transform-origin: 50% 150% 0;
  position: absolute;
  left: 0;
  z-index: 0;
  -webkit-transform: scale(1) rotate(-10deg);
  transform: scale(1) rotate(-10deg);
}

.rectangle-2 {
  width: 2000px;
  height: 400px;
  background: #8e2de2;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#4a00e0),
    to(#8e2de2)
  );
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  -webkit-transform-origin: 65% 100% 0;
  transform-origin: 65% 100% 0;
  position: absolute;
  right: 0;
  z-index: 0;
  -webkit-transform: scale(1) rotate(50deg);
  transform: scale(1) rotate(50deg);
}

@-webkit-keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100vw) rotate(-15deg);
    transform: translateX(-100vw) rotate(-15deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(-15deg);
    transform: translateX(0) rotate(-15deg);
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100vw) rotate(-15deg);
    transform: translateX(-100vw) rotate(-15deg);
  }

  to {
    opacity: 1;
    -webkit-transform: translateX(0) rotate(-15deg);
    transform: translateX(0) rotate(-15deg);
  }
}

@-webkit-keyframes grow1 {
  from {
    opacity: 0;
    -webkit-transform: scale(2) rotate(-10deg);
    transform: scale(2) rotate(-10deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-10deg);
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes grow1 {
  from {
    opacity: 0;
    -webkit-transform: scale(2) rotate(-10deg);
    transform: scale(2) rotate(-10deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(-10deg);
    transform: scale(1) rotate(-10deg);
  }
}

@-webkit-keyframes grow2 {
  from {
    opacity: 0;
    -webkit-transform: scale(2) rotate(50deg);
    transform: scale(2) rotate(50deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(50deg);
    transform: scale(1) rotate(50deg);
  }
}

@keyframes grow2 {
  from {
    opacity: 0;
    -webkit-transform: scale(2) rotate(50deg);
    transform: scale(2) rotate(50deg);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1) rotate(50deg);
    transform: scale(1) rotate(50deg);
  }
}

@-webkit-keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.rectangle-1 {
  opacity: 0;
  -webkit-animation: grow1 ease 1s forwards;
  animation: grow1 ease 1s forwards;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
}

.rectangle-2 {
  opacity: 0;
  -webkit-animation: grow2 ease 1s forwards;
  animation: grow2 ease 1s forwards;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
  box-shadow: 0px 20px 30px 0px rgba(9, 21, 54, 0.25) !important;
}

.rectangle-transparent-1 {
  width: 500px;
  height: 500px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  left: -5%;
  bottom: -10%;
  display: block;
  -webkit-animation: floating-slow ease-in-out 12s infinite;
  animation: floating-slow ease-in-out 12s infinite;
}

.rectangle-transparent-2 {
  width: 600px;
  height: 600px;
  border: 15px solid rgba(255, 255, 255, 0.08);
  position: absolute;
  right: -10%;
  top: 5%;
  display: block;
  -webkit-animation: floating-slow ease-in-out 12s infinite;
  animation: floating-slow ease-in-out 12s infinite;
}

/*
.star-1 {
    width: 50px;
    height: 50px;
    position: absolute;
    display: block;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    left: 5%;
    top: 50%;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
}

.star-2 {
    width: 70px;
    height: 70px;
    top: 10%;
    left: 83%;
    position: absolute;
    display: block;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}

.star-3 {
    top: 80%;
    left: 25%;
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
}
*/
/*
.circle-1 {
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  left: 5%;
  top: 50%;
  -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
          animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
          }
*/
.natalchart {
  z-index: 1000;
  position: relative;
  /*  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;*/
  left: 0;
  top: 30%;
  /*  -webkit-animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;
          animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite;*/
  /*               -webkit-animation: floating-slow ease-in-out 12s infinite;
    animation: floating-slow ease-in-out 12s infinite; */

  background: #ffb7c2;
  border: 0 none;
  border: 1px solid #ff607c;
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
  color: #55579b;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 16px;
  margin-top: 10px;
  width: 230px;
  height: 200px;
  overflow: hidden;
  padding: 8px;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.natalchart a {
  text-decoration: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.natalchart .sun {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -26px;
  left: 27%;
}

.natalchart__text {
  text-align: center;
  position: absolute;
  bottom: 0;
}

.natalchart__text h2 {
  position: relative;
  top: -20px;
  font-size: 1.2rem;
}

.natalchart__text p {
  position: relative;
  top: -10px;
}

.natalchart svg {
  left: 10%;
  position: absolute;
  top: -70px;
}

.natalchart:hover svg {
  -webkit-animation: spinAround 8s linear infinite;
  animation: spinAround 8s linear infinite;
}

@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*
.circle-2 {
  width: 70px;
  height: 70px;
  top: 20%;
  left: 83%;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
          animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }
*/
/*
.circle-3 {
  top: 80%;
  right: 25%;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  position: absolute;
  display: block;
  border-radius: 50%;
  -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite;
          animation: fadeInFromTop .5s linear forwards, floating ease-in-out 4s infinite; }
          */
/**/
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  25% {
    -webkit-transform: translate(5%, 15%);
    transform: translate(5%, 15%);
  }

  50% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }

  75% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  25% {
    -webkit-transform: translate(5%, 15%);
    transform: translate(5%, 15%);
  }

  50% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }

  75% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  25% {
    -webkit-transform: translate(5%, 15%);
    transform: translate(5%, 15%);
  }

  50% {
    -webkit-transform: translate(10%, 5%);
    transform: translate(10%, 5%);
  }

  75% {
    -webkit-transform: translate(0%, 15%);
    transform: translate(0%, 15%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes floating-slow {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  25% {
    -webkit-transform: translate(1%, 3%);
    transform: translate(1%, 3%);
  }

  50% {
    -webkit-transform: translate(2%, 1%);
    transform: translate(2%, 1%);
  }

  75% {
    -webkit-transform: translate(0%, 3%);
    transform: translate(0%, 3%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

@keyframes floating-slow {
  0% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }

  25% {
    -webkit-transform: translate(1%, 3%);
    transform: translate(1%, 3%);
  }

  50% {
    -webkit-transform: translate(2%, 1%);
    transform: translate(2%, 1%);
  }

  75% {
    -webkit-transform: translate(0%, 3%);
    transform: translate(0%, 3%);
  }

  100% {
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}

/*
.triangle {
    position: absolute;
}

.triangle-1 {
    right: 0;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 6s infinite;
}

.triangle-1 img {
    height: 50px;
    width: 50px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.triangle-2 {
    top: 30%;
    left: 20%;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 8s infinite;
}

.triangle-2 img {
    width: 75px;
    height: 75px;
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.triangle-3 {
    top: 80%;
    left: 15%;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 10s infinite;
}

.triangle-3 img {
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
}

.triangle-4 {
    top: 10%;
    right: 55%;
    -webkit-animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
    animation: fadeInFromTop .5s linear forwards, floating ease-in-out 5s infinite;
}

.triangle-4 img {
    width: 45px;
    height: 45px;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
}
*/

@media screen and (min-width: 670px) {
  .jumbotron h1 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 992px) {
  .jumbotron h1 {
    font-size: 3rem;
  }

  /*   
  .natalchart {
    left: 5%;
    position: absolute;
  } */
}
