
.swiper-wrapper {
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    height: 600px;
  }
  
  .swiper-container {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .card {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  
  .card-name,
  .card-text,
  .card-link {
    position: relative;
    z-index: 3;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  
  .card-name {
    font-size: 32px;
    font-weight: 900;
    line-height: 69px;
    height: 80px;
    font-style: italic;
    text-transform: uppercase;
  }
  
  .card-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }
  .card-text + .card-text {
    margin-left: 30px;
    margin-bottom: 8px;
  }
  
  .card-link {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 400;
    margin-left: 60px;
  }
  
  .cardd-image {
    position: absolute;
    top: 30px;
    right: 5px;
    z-index: 2;
  }
  
  .cardd-one .card-link {
    color: #E74824;
  }
  
  .cardd-two .card-link {
    color: #6D889F;
  }
  
  .cardd-one .cardd-image {
    width: 800px;
    height: 600px;
  }
  .cardd-one .cardd-image.one {
    background: transparent url("../image/natalchart-1.svg") 0 0 no-repeat;
    background-size: 760px 760px;
  }
  .cardd-one .cardd-image.two {
    background: transparent url("../image/natalchart-2.svg") 0 0 no-repeat;
    background-size: 760px 760px;
  }
  .cardd-one .cardd-image.three {
    background: transparent url("../image/natalchart-3.svg") 0 0 no-repeat;
    background-size: 760px 760px;
  }
  .cardd-one .cardd-image.four {
    background: transparent url("../image/natalchart-4.svg") 0 0 no-repeat;
    background-size: 760px 760px;
  }
  
  .cardd-two .cardd-image {
    width: 1000px;
    height: 600px;
  }
  .cardd-two .cardd-image.one {
    background: transparent url("../image/trine-1.svg") 0 0 no-repeat;
    background-size: 1200px 800px;
  }
  .cardd-two .cardd-image.two {
    background: transparent url("../image/trine-2.svg") 0 0 no-repeat;
    background-size: 1200px 800px;
  }
  .cardd-two .cardd-image.three {
    background: transparent url("../image/trine-3.svg") 0 0 no-repeat;
    background-size: 1200px 800px;
  }
  .cardd-two .cardd-image.four {
    background: transparent url("../image/trine-4.svg") 0 0 no-repeat;
    background-size: 1200px 800px;
  }
  
  
  .swiper-container-horizontal > .swiper-pagination {
    bottom: 24px;
    background: #EFF0F2;
    border-radius: 3px;
    width: auto;
    left: 50%;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
    border: solid 1px #E9ECEF;
    transform: translateX(-50%);
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet {
    background: none;
    width: auto;
    height: auto;
    opacity: 1;
    margin: 0;
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet::before {
    display: block;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    padding: 10px 30px;
    color: #495057;
    cursor: pointer;
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet:nth-child(1)::before {
    content: "Натальная карта";
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet:nth-child(2)::before {
    content: "Символический гороскоп";
  }
  .swiper-container-horizontal > .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    background: #FFFFFF;
  }