<!-- prettier-ignore -->
<% var data = { 
title: "Обучение астрологии для начинающих с нуля: курсы астролога онлайн", 
description: "Обучение астрологии для начинающих с нуля: курсы астролога онлайн", 
url: "/",
image: "/",
canonical: "index.html" }; %>
<!DOCTYPE html>
<html lang="ru-RU">

<head>
  <%= _.template(require('./../includes/head.html').default)(data) %>
  <base href="<%= htmlWebpackPlugin.options.base %>" />
</head>

<body>
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <main>
    <article>
      <div itemscope="" itemtype="http://schema.org/Article">
        <div itemprop="articleBody" class="page">
          <!-- -- -->
          <section style="top: -4px">
            <div class="jumbotron d-flex align-items-center">


              <div class="container text-center">

                <h1>
                  Астростудия - технологическая образовательная платформа для обучение астрологии
                </h1>
                <p class="mission">
                  Наша миссия — дать людям качественные знания в области астрологии для развития своей личности и других сфер своей жизни.
                </p>
              </div>

              <!-- Slider -->
              <div class="blog-slider">
                <main class="swiper-container blog-slider__wrp gallery">
                  <div class="swiper-wrapper">
                    <div data-hash="slide-1" class="swiper-slide blog-slider__item">
                      <div class="swiper-zoom-container blog-slider__img">
                        <img class="swiper-lazy" data-src="image/3.jpg" src="img/1x1.png" />
                      </div>
                      <div class="blog-slider__content">
                        <div class="blog-slider__title">Мы предлагаем</div>
                        <div class="blog-slider__text">
                          Вечеринку для «серьезной» компании, которая не любит
                          пресные шутки, скучные застолья и избитые
                          конкурсы.<br />
                          Мы рушим стереотипы о крутой тусовке!<br />
                          С нами вы насладитесь атмосферой праздника, азарта и
                          казино.<br />
                          Но только в рамках ЗАКОНА!<br />
                        </div>
                      </div>
                    </div>
                    <div data-hash="slide-2" class="swiper-slide blog-slider__item">
                      <div class="swiper-zoom-container blog-slider__img">
                        <img class="swiper-lazy" data-src="image/4.jpg" src="img/1x1.png" />
                      </div>
                      <div class="blog-slider__content">
                        <div class="blog-slider__title">
                          Где без нас не обойтись
                        </div>
                        <div class="blog-slider__text">
                          — гангстерская вечеринка;<br />
                          — тематическая вечеринка в стиле «Лас-Вегас»;<br />
                          — вечеринка в стиле «Гэтсби» или «Америка 30-х»;<br />
                          — день рождения компании в стиле «Казино»;<br />
                          — день рождения у Вас, и Вы хотите погрузиться в мир
                          азарта...
                        </div>
                      </div>
                    </div>
                  </div>
                </main>
                <div class="blog-slider__pagination"></div>
                <div class="slider-nav">
                  <button class="slider-arrow slider-arrow--w slider-arrow--prev" tabindex="0" role="button"
                    aria-label="Previous slide" aria-disabled="true">
                    <svg class="ico" width="9" height="14">
                      <use xlink:href="/sprite/sprite.svg#ico-nav-prev"></use>
                    </svg>
                  </button>
                  <button class="slider-arrow slider-arrow--w slider-arrow--next" tabindex="0" role="button"
                    aria-label="Next slide" aria-disabled="false">
                    <svg class="ico" width="9" height="14">
                      <use xlink:href="sprite/sprite.svg#ico-nav-next"></use>
                    </svg>
                  </button>
                </div>
                <nav class="swiper-container gallery-thumbs">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide swiper-slide-thumb">
                      <img src="image/1_120.jpg" />
                    </div>
                    <div class="swiper-slide swiper-slide-thumb">
                      <img src="image/2_120.jpg" />
                    </div>
                  </div>
                </nav>
              </div>
              <!-- *Slider -->

              <div class="rectangle-1"></div>
              <div class="rectangle-2"></div>
              <div class="rectangle-transparent-1"></div>
              <div class="rectangle-transparent-2"></div>

            </div>
          </section>
          <!-- -- -->

          <section>
            <img class="main-photo" src="img/astrolog-nadejda-yzuta.png" />
            <div class="natalchart">
              <%= _.template(require('./../includes/round.html').default)(data)%>
              <div class="sun"></div>
              <div class="natalchart__text">
                <h2>Астропроцессор</h2>
                <p>
                  Натальная карта <br />
                  <small> составить онлайн</small>
                </p>
              </div>
              <a href="horoscope-create/"></a>
            </div>
          </section>


          <button class="popup-show button-design" data-popup="contact" data-content="Кнопка Оставить заявку 1">
            <span></span><span></span><span></span><span></span>Оставить
            <br />заявку
          </button>

          <h2 class="title-h2">Тарифы</h2>
          <section class="column">
            <div class="panel pricing-table">
              <div class="pricing-plan">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#course-junior"></use>
                </svg>
                <h2 class="pricing-header">Las Vegas</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item show-title" title="Рулетка или любой другой стол на выбор">
                    1 стол
                  </li>
                  <li class="pricing-features-item show-title" title="1 профессиональный крупье">
                    1 крупье
                  </li>
                  <li class="pricing-features-item show-title" title="Игровые деньги, фишки, карты">
                    Реквизит
                  </li>
                  <li class="pricing-features-item show-title" title="Доставка по Санкт-Петербургу">
                    Доставка
                  </li>
                  <li class="pricing-features-item show-title" title="Монтаж-демонтаж">
                    Монтаж
                  </li>
                  <li class="pricing-features-item pricing-false">
                    Фотозона
                  </li>
                </ul>

                <div class="pricing-button hexagon-wrapper" data-popup="contact" data-tippy-content="Отправить заявку">
                  <div class="hexagon popup-show" data-popup="contact" data-content="Тариф Las Vegas за 17 000">
                    <span class="pricing-price">17 000 &#8381;</span>
                  </div>
                </div>
              </div>

              <div class="pricing-plan">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#course-middle"></use>
                </svg>
                <h2 class="pricing-header">Las Vegas City</h2>
                <ul class="pricing-features">
                  <li class="pricing-features-item show-title"
                    title="Рулетка + спортивный покер или 2 любых стола на выбор">
                    2 стола
                  </li>
                  <li class="pricing-features-item show-title" title="2 профессиональных крупье">
                    2 крупье
                  </li>
                  <li class="pricing-features-item show-title" title="Игровые деньги, фишки, карты">
                    Реквизит
                  </li>
                  <li class="pricing-features-item show-title" title="Доставка по Санкт-Петербургу">
                    Доставка
                  </li>
                  <li class="pricing-features-item show-title" title="Монтаж-демонтаж">
                    Монтаж
                  </li>
                  <li class="pricing-features-item pricing-false">
                    Фотозона
                  </li>
                </ul>

                <div class="hexagon-wrapper pricing-button" data-tippy-content="Отправить заявку">
                  <div class="hexagon popup-show" data-popup="contact" data-content="Тариф Las Vegas City за 34 000">
                    <span class="princig-price">34 000 &#8381;</span>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <h2 class="title-h2">Наши преимущества</h2>

          <section class="col-two column">
            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-practice"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Большой опыт в организации и проведении.<br />
                Мы провели более 200 мероприятий!
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-clock"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Ответственный подход к делу: строго соблюдаем тайминг, решаем
                возможные проблемы на уровне планирования, а не работаем с
                последствиями.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-maintenance"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Привозим исправное оборудование, вовремя проводим
                техобслуживание, меняем сукно и т.д.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-appearance"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Следим за внешним видом своих сотрудников (корпоративная
                форма, опрятность и приятное общение).
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-recommendation"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Работаем, чтобы получить ваши рекомендации.
              </div>
            </div>

            <div class="col-two__item">
              <div class="col-two__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-advantage.svg#ico-croupier"></use>
                </svg>
              </div>
              <div class="col-two__text">
                Профессиональные крупье, которые получают удовольствие от
                работы.
              </div>
            </div>
          </section>
          <!-- /НАШИ ПРЕИМУЩЕСТВА -->

          <button class="popup-show button-design" data-popup="contact" data-content="Кнопка Оставить заявку 2">
            <span></span><span></span><span></span><span></span>Оставить
            <br />заявку
          </button>

          <!-- Этапы работ -->
          <h2 class="title-h2">Этапы выполнения работ</h2>
          <section class="col-three column">
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-1"></use>
                </svg>
              </div>
              <div class="col-three__text"><b>1.</b> Вы звоните.</div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-2"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>2.</b> Мы обсуждаем детали, договариваемся.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-3"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>3.</b> Вовремя приезжаем и монтируем площадку.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-4"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>4.</b> Проводим мероприятие, дарим эмоции.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-5"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>5.</b> Вручаем призы. Демонтируем.
              </div>
            </div>
            <div class="col-three__item">
              <div class="col-three__ico">
                <svg class="ico" style="stroke-width: 1">
                  <use xlink:href="sprite/sprite-course.svg#time-line-6"></use>
                </svg>
              </div>
              <div class="col-three__text">
                <b>6.</b> Ваши коллеги и гости вспоминают отличный вечер.
                Благодарят. И оставляют отзывы)
              </div>
            </div>
          </section>
          <!-- /Этапы работ -->

          <!-- Где использовать 2 -->
          <h2 class="title-h2">Праздники и вечеринки от BIG-PARTY</h2>
          <section class="col-three column">
            <div class="table-container">
              <table class="table">
                <thead class="table-header">
                  <tr>
                    <th class="table__image"></th>
                    <th class="table__title">Виды мероприятий</th>
                    <th class="table__sku">
                      Количество<br />
                      гостей
                    </th>
                    <th class="table__quantity">Количество столов</th>
                    <th class="table__not-packed">Доставка</th>
                    <th class="table__total">Стоимость праздника</th>
                  </tr>
                </thead>
                <tbody class="table-tbody">
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-wedding"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/1_410.jpg'>">
                      <span>Свадьба в стиле «Лас-Вегас»</span> <span>?</span>
                    </td>
                    <td class="table__name" data-name="Гости:">
                      <span>60</span>
                    </td>
                    <td class="table__name" data-name="Кол-во столов:">
                      <span>2, 3</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>+</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 32 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-team-building"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/2_410.jpg'>">
                      <span>Тимбилдинг на природе (винное казино / пивное казино,
                        покер под открытым небом)</span>
                      <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>60</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>2</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>оплачивается отдельно</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 38 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-bachelor-party"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/3_410.jpg'>">
                      <span>Покерный турнир на мальчишник</span>
                      <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>20</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>2</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>+</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>34 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-wellcome"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/4_410.jpg'>">
                      <span>Пивное казино / винное казино, рулетка на
                        вэлком</span>
                      <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>60</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>1, 2</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>+</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 17 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-company-birthday"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/5_410.jpg'>">
                      <span>День рождения компании</span> <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>60</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>2, 3</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>+</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 34 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-corporate"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/6_410.jpg'>">
                      <span>Летний корпоратив компании под открытым небом</span>
                      <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>60</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>3</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>оплачивается отдельно</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 51 000 ₽</span>
                    </td>
                  </tr>
                  <tr class="table-tr">
                    <td class="table__image">
                      <svg class="ico" style="stroke-width: 1">
                        <use xlink:href="sprite/sprite-advantage.svg#ico-birthday-poker"></use>
                      </svg>
                    </td>
                    <td class="table__title show-img"
                      data-tippy-content="<img class='tippy-img' src='image/7_410.jpg'>">
                      <span>Покер на день рождения</span> <span>?</span>
                    </td>
                    <td class="table__name" data-name="Количество:">
                      <span>20</span>
                    </td>
                    <td class="table__name" data-name="Аренда:">
                      <span>1, 2</span>
                    </td>
                    <td class="table__name" data-name="Доставка:">
                      <span>+</span>
                    </td>
                    <td class="table__name" data-name="Стоимость:">
                      <span>от 17 000 ₽</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
          <!-- Где использовать 2 -->
        </div>
      </div>
    </article>
  </main>

  <%= _.template(require('./../includes/footer.html').default)(data) %>
  <!-- prettier-ignore -->
  <%=_.template(require('./../includes/script.html').default)(data) %>
</body>

</html>